.navbar {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;
  .logo_container {
    height: 90px;
    width: 100%;
    margin-left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
    background-color: #0e0b20;
    img {
      margin-left: 10%;
    }
    .bars_container {
      height: 50px;
      width: 50px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      margin-right: 30px;
      .bar {
        height: 3px;
        width: 70%;
        background-color: white;
        border-radius: 5px;
        transition: 0.5s;
      }
      &.open {
        .bar {
          &:first-child {
            width: 70%;
            transform: translate(0, 7px) rotate(-45deg);
          }
          &:last-child {
            width: 70%;
            transform: translate(0, -10px) rotate(40deg);
          }
        }
      }
    }
  }

  .options_container {
    background-color: #0e0b20;
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -400%;
    transition: 0.5s;
    &.open {
      top: 100%;
    }
    a {
      text-decoration: none;
      color: #788ca0;
    }
    .options_1_container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-top: 10px;
      .option_1 {
        margin-top: 20px;
        height: 28px;
        font-weight: 500;
        font-size: 15px;
        line-height: 28px;
        width: 100%;
        display: grid;
        place-items: center;
      }
      .careers_link {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .option_1 {
          width: auto;
          background: linear-gradient(95.29deg, #efae88 -31.05%, #ef88ed 91.1%),
            linear-gradient(95.29deg, #efae88 -31.05%, #ef88ed 91.1%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
        }
      }
    }
    .options_2_container {
      display: flex;
      flex-direction: column;
      width: 100%;
      .option_2 {
        margin-top: 20px;
        width: 100%;
        display: grid;
        place-items: center;
        &:last-child {
          align-self: center;
          max-width: 106px;
          height: 41px;
          border-radius: 55px;
          border: 1px solid #7449ff;
          display: grid;
          place-items: center;
          transition: 0.5s;
          &:hover {
            background: #7449ff;
            color: #fff;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1361px) {
  .navbar {
    flex-direction: row;
    .logo_container {
      height: 100px;
      width: 15%;
      background-color: transparent;
      margin-left: 120px;
      img {
        margin: 0;
      }
      .bars_container {
        display: none;
      }
    }
    .options_container {
      width: 85%;
      height: 100px;
      position: relative;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: transparent;
      .options_1_container {
        width: 50%;
        flex-direction: row;
        margin-top: 0;
        .option_1 {
          margin-left: 50px;
          margin-top: 0;
          width: 50px;
          &:first-child {
            margin-left: 100px;
          }
        }
        .careers_link {
          width: 50px;
          margin-left: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
        }
      }
      .options_2_container {
        width: 50%;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        .option_2 {
          width: 43px;
          height: 28px;
          font-weight: 500;
          font-size: 15px;
          line-height: 28px;
          margin-top: 0;
          margin-right: 34px;
          &:last-child {
            margin-right: 120px;
            min-width: 106px;
          }
        }
      }
    }
  }
}
