@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@font-face {
  font-family: "GT Walsheim Pro";
  src: url("./fonts/GT\ Walsheim\ Pro\ Regular\ Regular.ttf");
}
.App {
  background-color: #0e0b20;
  color: white;
}
